@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid green;
}
a{
    color: inherit;
}

body{
    font-family: 'Inter', sans-serif;
}
header{
    
    height: 100vh;
    background-image: url('./Image.png');
}
.content{
    max-width: 1200px;
    margin: 0 auto;
}
.icon{
    display: flex;
    justify-content: flex-end;
}

.icon-nav{
    background-color: #272A31;
}
.icon-container{
    display: flex;
    justify-content: space-between;
    
    
}
.icon .icons{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
.icon .icons a{
    color: white;
    
}

.hero{
    background-color: white;
    margin-bottom: 15px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: #272A31;
    font-size: 35px;
}
span{
    color: #EC5242;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #272A31;
    text-decoration: none;

}
nav ul li a:hover{
    color: #EC5242;
    transition: .3s;
}
button{
    background: white;
    color: #EC5242;
    padding: 10px 20px;
    font-size: 15px;
    transition: .4s;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}
h1{
    color: #EC5242;
    margin: 20px 0px 20px;
    font-size: 45px;
    line-height: 50px;
    text-transform: uppercase;

}
h3{
    color: #EC5242;
    font-size: 30px;
}

.nav-icon{
    display: none;
}

.frist-p{
    color: #272A31;
    font-size: 15px;
    margin-bottom: 20px;
    background-color: white;
    padding: 30px;
    border: 3px solid white;
    border-radius: 5px;
    max-width: 40rem;

}

.nation{
    color: #272A31;
}

.container{
    background-image: url('./about-C.jpg');
    background-size: cover;
    width: 100%;
    padding: 100px 0px;
}

.title .About-h2{
    color: #D3D3D3;
    font-size: 30px;
    margin: 30px auto;
    text-align: center;
}

.box{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.card{
    height: 200px;
    width: 235px;
    padding: 20px 35px;
    background: #272A31;
    margin: 2px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: -5px 0px;
    color: #EC5242;
}

h5{
    color: #EC5242;
    font-size: 15px;
}

.pra p{
    color: #D3D3D3;
    font-size: 16px;
    margin-top: 10px;
    line-height: 20px;
    margin-bottom: 25px;
}
.see {
    color: #D3D3D3;
    font-size: 15px;
    text-align: center;
    margin-top: 16px;
    text-decoration: underline;
}

.see:hover{
    color: #EC5242;
    transition: .3s;
}

.section-title_line{
    position: absolute;
    right: 47%;
    width: 70px;
    text-align: center;
    border: 1px solid #EC5242;
    
}

.speakers{
    width: 100%;
    padding: 100px 0px;
    background-color: white;
}

.title2{
    color: #272A31;
    font-size: 30px;
    margin: 30px auto;
    text-align: center;
}

.speakers img{
    height: 180px;
    
}

 .speakers2{
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 2rem;
  overflow: hidden;
  position: relative;
  padding: 1rem 5rem;
  max-width: 1200px;
margin: 0 auto;

  
} 



.about-text{
    width: 350px;
    margin-top: 20px;
}

.main{
    
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.last{
    background-color: #272A31;
    width: 100%;
    padding: 100px 0px;
}

.last-h2{
    color: #D3D3D3;
    font-size: 30px;
    margin: 30px auto;
    text-align: center;

}

.last-li{
    color: #D3D3D3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.last-li li{
    list-style-type: none;
    display: inline-block;
    
}

.burn{
    background-color: white;
    width: 100%;
    padding: 50px 0px;

}
.burn-h2{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
}

.brun-P{
    color: #272A31;
    font-size: 15px;
    max-width: 40rem;
    margin: 30px auto;
    text-align: center;
}

/*----about....*/

footer{
    background-color: black;
}
.footer-1{
    color: #D3D3D3;
    font-size: 15px;
    max-width: 40rem;
    margin: 30px auto;
    text-align: center;
}

.creation{
    background-color: #D3D3D3;
}

.creation-1{
    color: #272A31;
    font-size: 15px;
    max-width: 40rem;
    margin: 30px auto;
    text-align: center; 
}
.creation-titre{
    font-size: 30px;
    margin: 30px auto;
    text-align: center;
}

.past-work{
    background-color: white;
}

.past-img{
    text-align: center;
    display: flex;
    gap:1rem ;
    margin-top: 15px;
}
.past-img img{
    max-width: 50%;
    height: auto;
    
    
}
.past-33{
    background-image: url('./about-C.jpg');
}

.past-34{
    padding: 34px 20px ;
    color: #D3D3D3;
}

.header2{
    text-align: center;
  
}

.content2 {
    max-width: 800px; 
    margin: 0 auto; 
    margin-top: 200px;
  }

  
@media only screen and (max-width: 768px) {


    .nav-icon{
        display: inline;
    }
   
    nav ul {
        padding: 0;
        list-style-type: none;
        display: none;
    }
    nav ul li {
        display: none;
    }

    nav ul li a{
        color: #272A31;
        
    }

    button{
        margin-top: 20px;
    }

    body{
        background-image: url('./Image-mobile.png');
        background-size: cover;
    }


    h1 {
        font-size: 35px;
        
    }

    .frist-p {
        margin-top: 30px;
        margin-bottom: 24px;
        line-height: 20px;
        max-width: 500px;
        margin-left: 16px;
        margin-right: 16px;
    }

   
    
    about-h2{
        position: absolute;
    }

    .box {
    
        flex-direction: column;
        align-items: center;
    }

    .card {
    
        width: 100%;
        max-width: 300px;
        margin: 10px;
    }


    .last-li {
        /* Adjust list item layout for smaller screens */
        /* For example: */
        flex-direction: column;
        align-items: center;
    }
}